@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}
// couleur
$orange: #f5821f;
$vert: #129047;
$blue: rgba(8, 79, 142);
$jaune: #fcb900;
// responsive
$mobile: 480px;
$sm: 640px;
$mobile-max: 768px;
$tablet: 834px;
$lg: 960px;
$xl: 1200px;
$tablet-max: 1024px;
$laptop: 1440px;

//mixin
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin x-center {
    display: flex;
    justify-content: center;
}

@mixin scrollbar {
  scrollbar-color: $bg1 white;
  scrollbar-width: thin;
}

@mixin responsive($breakpoint) {
    //PHONE
    @if $breakpoint == phone {
      @media (max-width: 37.5em) {
        @content;
      }
    }
    //TABLET PORTRAIT
    @if $breakpoint == tab-port {
      @media (max-width: 56.25em) {
        @content;
      }
    }
    //TABLET LANDSCAPE
    @if $breakpoint == tab-land {
      @media (max-width: 75em) {
        @content;
      }
    }
    //NORMAL
    @if $breakpoint == normal {
      @media (max-width: 112.5em) {
        @content;
      }
    }
    //BIG DESKTOP
    @if $breakpoint == big-desktop {
      @media (min-width: 112.5em) {
        @content;
      }
    }
  }