.as-delegate-page {

    .as-delegate-content {
        padding: 3em 5em;

        @include responsive(tab-land) {
            padding: 2em;
        }

        .elements {

            margin-bottom: 5em;

            @include responsive(tab-port) {
                margin-bottom: 2em;
            }

            .delegate {
                display: flex;
                align-items: center;
                gap: 2em;
                margin-bottom: 2em;

                @include responsive(tab-port) {
                    flex-direction: column;
                }

                .info {
                    width: 40%;

                    @include responsive(tab-port) {
                        width: 100%;
                    }
                    
                    p {
                        text-align: justify;
                    }

                    span {
                        color: $orange;
                        text-decoration: underline;
                    }
                }

                .tableau {
                    width: 60%;

                    @include responsive(tab-port) {
                        width: 100%;
                    }

                    p {
                        text-decoration: underline;
                        font-size: 1.2em;
                    }
                    table {
                        margin-top: 1em;
                        border-collapse: collapse;
                    }
                    table, td {
                        border: 1px solid;
                        padding: .7em;
                    }

                    @include responsive(phone) {

                        td {
                            padding: .5em;
                            min-width: 150px;
                        }
                    }
                      
                }
            }

            .participation {
                width: 39%;
                margin-bottom: 3em;

                @include responsive(tab-port) {
                    width: 100%;
                }

                p {
                    text-align: justify;
                }
            }
            .action-button {
                .register {
                    text-decoration: none;
                    background: $jaune;
                    padding: .9em 2em;
                    color: white;
                    border-radius: 3px;
                }
            }
        }
    }
}