.sponsor-page {

    .content-sponsor-page {
        padding: 5em 0;

        @include responsive(tab-port) {
            padding: 2em 0;
        }

        .intro {
            display: flex;
            gap: 2.5em;
            // align-items: center;
            padding: 0 5em;

            @include responsive(tab-land) {
                padding: 0 2em;
                gap: 2em;
            }

            @include responsive(tab-port) {
                flex-direction: column-reverse;
            }

            .illustration {
                width: 50%;
                height: auto;

                @include responsive(tab-port) {
                    width: 100%;
                    height: 30vh;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 4px;
                }
            }

            .texte {
                width: 50%;

                @include responsive(tab-port) {
                    width: 100%;
                }
                
                span {
                    font-size: 1.7em;
                }
                p {
                    margin-top: 1em;
                    text-align: justify;
                }
            }
        }

        .package-container {
            background: white;
            padding: 2em 5em;
            margin: 5em 0;

            @include responsive(tab-land) {
                padding: 2em;
                margin: 3em 0;
            }

            .title {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 1em;

                span {
                    text-align: center;
                    font-size: 1.8em;
                }
            }

            .cards-package {
                color: white;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 3em;
                margin: 2em 0;
                flex-flow: row-reverse;

                @include responsive(tab-land) {
                    gap: 1.5em;
                }

                @include responsive(phone) {
                    grid-template-columns: repeat(1, auto);
                    gap: 2em;
                }
                
                .card-element { 
                    padding: 2em;
                    background: #a58f5f;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    &:nth-child(2) {
                        background: #a7a9aa;
                    }
                    &:nth-child(3) {
                        background: #4f4f4f;
                    }
                    &:last-child {
                        background: #a4623f;
                    }

                    .head {
                        padding-bottom: 2em;
                        border-bottom: 1px solid lightgray;
                        text-transform: uppercase;

                        span {
                            font-size: 1.5em;
                            font-weight: 500;
                        }
                    }

                    .price {
                        margin: 2em 0;
                    }

                    .info-package {
                        gap: 1em;

                        .element {
                            display: flex;
                            gap: .4em;
                            margin-bottom: 1em;
                            color: #f1f1f1;

                            .card-icon {
                                padding: .2em;

                                .icon {
                                    color: $jaune
                                }
                            }


                            p {
                                width: 90%;

                                span {
                                    color: white;
                                    font-weight: 700;
                                }
                            }
                        }                        
                    }
                    .action-button {
                        margin-top: 2em;
                        @include flex-center;
                        
                        .register {
                            text-decoration: none;
                            text-align: center;
                            padding: .8em .5em;
                            border-radius: 4px;
                            width: 70%;
                            background: white;
                            color: $jaune;

                            
                            &:hover {
                                background: $jaune;
                                color: white;
                            }
                        
                        }
                    }
                }
            }
        }

        .partner-defil {
            padding: 0 5em;

            @include responsive(tab-land) {
                padding: 0 2em;
            }
        }
        .network {
            padding: 0 5em;

            @include responsive(tab-land) {
                padding: 0 2em;
            }
        }

    }
}


// bespoke newtword card styles

.bespoke-network {

    .title {
        margin-bottom: 3em;

        p {
            font-size: 1.8em;
            text-align: center;
        }
    }

    .bespoke-data-container {
        display: grid;
        gap: 3em;
        grid-template-areas: "item7 item7";
        grid-template-columns: repeat(2, 1fr);

        @include responsive(phone) {
            grid-template-areas: "item7";
            grid-template-columns: repeat(1, auto);
        }

        .bespoke-card {

            .head {
                display: flex;
                align-items: center;
                gap: 1em;

                .card-icon {
                    width: 90px;
                    padding: .3em;
                    @include flex-center;   

                    img {
                        width: 80%;
                        height: 80%;
                        object-fit: contain;
                    }
                }
            }

            span {
                font-size: 1.1em;
                font-weight: 600;;
                width: 80%;
            }

            p {
                margin-top: 1em;
                text-align: justify;
            }
        }

        .item7 {
            grid-area: item7;
        }
    }
    .action-button {
        margin-top: 3em;
        @include flex-center;

        .register {
            text-decoration: none;
            padding: .8em 3.3em;
            text-align: center;
            border-radius: 3px;
            background: $jaune;
            color: white;
        }
    }
}
// partner styles

.as-partner-page {

    .strategic-partner {
        padding: 2em 5em;

        @include responsive(tab-land) {
            padding: 2em;
        }

        .head-title {
            margin-bottom: 1.5em;
            width: max-content;

            p {
                display: flex;
                flex-direction: column;
                font-size: 1.5em;
                
                &::after {
                    content: "";
                    width: 100%;
                    height: .7vh;
                    background: $jaune;

                    @include responsive(phone) {
                      height: .5vh;  
                    }
                }
            }
        }

        .button-action {
            @include flex-center;
            margin: 2.5em 0 5em 0;
            
        }
    }
}


// exhibitor styles
.as-exhibitor-page {
    // exhition style
    
    .content {
        padding: 2em 5em;

        @include responsive(tab-land) {
            padding: 2em;
        }
        
        .floor-image {
            width: 100%;
            height: 75vh;
            margin: 1.5em 0;

            @include responsive(tab-port) {
                height: 50vh;
            }

            @include responsive(tab-port) {
                height: 30vh;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
        .element {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1em 0;

            .secure {
                font-size: 1.8em;
            }
            .descr {
                width: 40%;
                text-align: center;

                @include responsive(tab-land) {
                    width: 50%;
                }

                @include responsive(tab-port) {
                    width: 80%;
                }

                @include responsive(phone) {
                    width: 100%;
                }
            }
            .card {
                width: 50%;
                padding: 3em;
                border-radius: 5px;
                background: $blue;
                margin: 2em 0;

                @include responsive(tab-land) {
                    width: 60%;
                }

                @include responsive(tab-port) {
                    width: 80%;
                }

                @include responsive(phone) {
                    width: 100%;
                }

                .head {
                    border-bottom: 1px solid #f1f1f1;
                    padding-bottom: 1.5em;
                    color: white;

                    span {
                        font-size: 1.5em;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                }
                .card-price {
                    margin-top: 1.5em;

                    span {
                        font-size: 1.5em;
                        font-weight: bold;
                        color: white;
                    }

                    .price {
                        color: white;
                        margin: .1em 0;
                        font-size: 1.1em;
                    }
                    .illustration {
                        color: $jaune;
                        cursor: pointer;
                        margin-bottom: .5em;
                    }

                    .card-illustration {

                        img {

                            @include responsive(tab-port) {
                                width: 100%;
                            }
                        }
                    }

                    .reduction {
                        margin-top: 1.5em;
                        color: white;
                        font-size: .9em;
                    }
                }

                .avantage {
                    display: flex;
                    gap: .5em;
                    margin: 1.5em 0;
                    color: white;

                    .card-icon {
                        padding: .1em;
                    }

                    p {
                        span  {
                            font-weight: 600;
                        }
                    }
                }

                .button-action {
                    margin-top: 2em;
                    display: flex;
                    justify-content: center;

                    .register {
                        background: white;
                        width: 80%;
                        padding: .8em .3em;
                        text-align: center;
                        border-radius: 4px;
                        color: #a4623f;
                        text-decoration: none;

                        &:hover {
                            background: #a4623f;
                            color: white;
                        }

                        @include responsive(phone) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}