.partner {
    padding: 0 5em;
    margin-top: 2em;

    @include responsive(tab-port) {
        padding: 0 2em;
        margin-top: 0;
    }

    .title {
        text-align: center;
        padding: 1em 0;
        font-size: 1.5em;
    }
    .mySwiper {
        margin: 2em 0;
        padding: .5em .5em 3.5em .5em;

        @include responsive(tab-port) {
            padding-bottom: 1em;
        }

    }
}

// partner style global
.container-partner-card {
    height: 15vh;
    margin-bottom: .5em;
    @include flex-center;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;;
    }
}
// Offical endorsing partners