.why {
    background: white;
    padding: 5em;
    display: flex;
    align-items: center;
    gap: 2em;

    .card-image {
        width: 50%;
        height: 60vh;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .data {
        width: 50%;
        text-align: justify;

        span {
            font-size: 1.5em;
            display: flex;
            flex-direction: column;
            width: max-content;
            padding-bottom: 1em;
        }
        span::after {
            content: '';
            height: .4vh;
            background: $orange;
        }

        .card-button-action {
            margin-top: 1.5em;
        }
    }
}

// buton model style

.button-action-model {
    display: flex;
    align-items: center;
    gap: .5em;
    text-transform: uppercase;
    text-decoration: none;
    color: $orange;
    font-weight: 600;
}
