.header-container {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;

    .head {

        height: 20vh;
        display: block;
        margin-bottom: 1em;
        // margin: 0 5em;
        // padding: .6em 0;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            
        }

        div {
            height: 100%;
            width: 33.33%;
        }
        .logo {
    
            img {
                width: 52%;
                height: 100%;
                object-fit: cover;
            }
        }
        .wapecc {
            text-align: center;
            padding: .8em 2em 0 2em;
    
            h3 {
                font-size: 50px;
                margin: 0;
            }
            p {
                color: #08468e;
                font-weight: 600;
                font-size: 19px;
                line-height: 26px;
            }
        }
        .patronage {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
            p {
                color: $orange;
                font-size: 19px;
            }
    
            h1 {
                font-size: 100px;
                text-align: center; 
            }
        }
    }
}


// Navigation
nav {
    
    background: #129047;
    position: sticky;
    z-index: 1000;
    top: 0;
    transition: all 0.3s ease-in-out;
    
    .menu-nav {
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3em;
        
        li {
            list-style: none;
            text-transform: uppercase;
            color: white;
            cursor: pointer;
            font-weight: 600;
            position: relative;
            padding: 1.3em 0;
    
            &:hover > span {
                color: #fcb900;
            }
            &:hover .submenu {
                height: auto;
                padding: 1em 1.5em;
                opacity: 1;
                transition: opacity 0.3s ease-in-out;
            }
        }
        .icon {
            font-size: 1.2em;
        }
    
        .contact {
            text-decoration: none;
            color: white;
    
            &:hover {
                color: #fcb900;
            }
        }
    
        .submenu {
            width: max-content;
            border-radius: 3px;
            background: $blue;
            position: absolute;
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition: height 0.3s ease-in-out;
            top: 4.2em;
            left: -1.5em;
    
            li {
                border-bottom: 1px solid lightgray;
                padding: .9em 0;
                font-size: .8em;
                font-weight: 600;
                text-transform: uppercase;
    
                &:last-child {
                    border-bottom: none;
                }
    
            }
            
            .lien {
                text-decoration: none;
                color: white;
    
                &:hover {
                    color: gray;
                    transition: .2s;
                }
            }
        }
    }
}


.banner {
    height: 67vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}


// Reseaux sociaux style 
.reseaux-sociaux {
    position: fixed;
    height: 100%;
    @include flex-center;
    flex-direction: column;
    top: 0;
    color: white;

    .icon {
        @include flex-center;
        text-decoration: none;
        color: white;
        padding: 1em .65em;
        font-size: 1.2em;
        &:hover {
            background: #000;
        }
    }

    .fb {
        background: #3b5998;
    }
    .twt {
        background:  #00acee;
    }
    .in {
        background: #0e76a8;
    }
    .ytb {
        background: #c4302b;
    }
}