.header-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background: white;
    // height: 40vh;
    padding: 1em;
    // padding: 0 1em;
    // border: 1px solid red;

    @include responsive(tab-port) {
        height: 20vh;
    }

    .logo {
        
        // border: 1px solid;
        @include flex-center;
        gap: .3em;
        display: flex;
        flex-direction: column;
        height: 50vh;

        p {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.2em;
            text-align: center;
        }

        @include responsive(tab-port) {
            height: 17vh;
        }
        .card-image {
            height: 90%;
            // border: 1px solid blue;
        }

        img {
            // width: 100%;
            height: 100%;
            // border: 1px solid;
            object-fit: cover;

            @include responsive(tab-port) {
                width: 80%;
                height: 80%;
            }
        }
    }

}


// Navigation
nav {
    
    background: #129047;
    position: sticky;
    z-index: 1000;
    top: 0;
    transition: all 0.3s ease-in-out;
    
    .menu-nav {
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3em;
        padding: 0 1em;

        @include responsive(tab-land) {
            display: none;
        }

        .active {
            color: #fcb900;
        }
        
        li {
            list-style: none;
            text-transform: uppercase;
            color: white;
            cursor: pointer;
            font-weight: 600;
            position: relative;
            padding: 1.3em 0;
    
            &:hover > span {
                color: #fcb900;
            }
            &:hover .submenu {
                height: auto;
                padding: 1em 1.5em;
                opacity: 1;
                transition: opacity 0.3s ease-in-out;
            }
        }
        .icon {
            font-size: 1.2em;
        }
    
        .contact {
            text-decoration: none;
            color: white;
    
            &:hover {
                color: #fcb900;
            }
        }
        .contact.active {
            color: #fcb900;
        }
    
        .submenu {
            width: max-content;
            border-radius: 3px;
            background: $blue;
            position: absolute;
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition: height 0.3s ease-in-out;
            top: 4.2em;
            left: -1.5em;
    
            li {
                border-bottom: 1px solid lightgray;
                padding: .9em 0;
                font-size: .8em;
                font-weight: 600;
                text-transform: uppercase;
    
                &:last-child {
                    border-bottom: none;
                }
    
            }
            
            .lien {
                text-decoration: none;
                color: white;
    
                &:hover {
                    color: gray;
                    transition: .2s;
                }
            }
        }


    }
    
    .nav-mobile {
        display: none;

        @include responsive(tab-land) {
            display: flex;
            justify-content: space-between;
            padding: 1em 2em;
            position: relative;

            .burger {
                cursor: pointer;
                transition: transform 0.3s ease-in-out;
            }

            .modal {
                position: absolute;
                background: white;
                top: 3.5em;
                right: 2em;
                opacity: 0;
                transform: translateX(2em);
                transition: all 0.5s ease-in-out;
                padding: 2em 3em;
                border-radius: 4px;

                &.open {
                    transform: translateX(0);
                    opacity: 1;
                    transition: transform 0.5s ease-in-out;
                }

                ul {

                    li {
                        list-style: none;
                        cursor: pointer;
                        font-size: 1em;
                        font-weight: 600;
                        padding: .6em 0;

                        .active {
                            color: #fcb900;
                        }
                    }
                    .contact {
                        text-decoration: none;
                        color: black;
                
                        &:hover {
                            color: #fcb900;
                        }
                        &.active {
                            color: #fcb900;
                        }
                    }

                    .accordeons {
                        display: grid; 
                        grid-template-rows: 0fr;
                        transition: .5s grid-template-rows ease;

                        & > ul {
                            overflow: hidden;
                        }

                        li {
                            // font-size: .5em;
                            font-weight: normal;
                        }
                        .lien {
                            text-decoration: none;
                            color: black;
                            // text-transform: capitalize;
                        }

                        &.open {
                            grid-template-rows: 1fr;
                        }
                    }
                }
            }
        }

    }

}


.banner {
    height: 70vh;
    position: relative;
    z-index: 1;

    .fond {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 10;
        top: 0;
        padding: 0 8em;
        background: rgba($color: #000000, $alpha: .8);
        
        .info {
            flex-direction: column;
            gap: 1.5em;
            display: flex;
            height: 100%;
            justify-content: center;

            span {
                color: $jaune;
                font-size: 1.1em;
                font-weight: 600;
            }

            p {
                font-size: 3em;
                color: white;
            }

            .agenda {
                text-decoration: none;
                background: white;
                width: fit-content;
                padding: .6em 1.5em;
                border-radius: 30px;
                color: black;
                font-weight: bold;
                font-size: 1.1em;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


// Reseaux sociaux style 
.reseaux-sociaux {
    position: fixed;
    height: 100%;
    @include flex-center;
    flex-direction: column;
    top: 0;
    z-index: 100;
    color: white;

    .icon {
        @include flex-center;
        text-decoration: none;
        color: white;
        padding: 1em .65em;
        font-size: 1.2em;
        &:hover {
            background: #000;
        }
    }

    .fb {
        background: #3b5998;
    }
    .twt {
        background:  #00acee;
    }
    .in {
        background: #0e76a8;
    }
    .ytb {
        background: #c4302b;
    }
}